<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711504562043-mpibsliqq135ovo47q2us9jms46flns4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711504562043-mpibsliqq135ovo47q2us9jms46flns4</string>
	<key>API_KEY</key>
	<string>AIzaSyB4LBYvBbLwq7BNyT49e1xsLTjMkvs1T-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>711504562043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Knowledge.DopeShitMatters</string>
	<key>PROJECT_ID</key>
	<string>dopeshitmatters-f26d8</string>
	<key>STORAGE_BUCKET</key>
	<string>dopeshitmatters-f26d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711504562043:ios:7b605b56c39841db975fde</string>
</dict>
</plist>